<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
    <!-- <script src="js_serial.min.js"></script> -->
    <script src="https://raw.githubusercontent.com/danidask/js_serial/master/static/js_serial.min.js"></script>
    

    <meta charset="utf-8" />
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
        }
        
        canvas {
            display: block;
        }
    </style>

</head>

<body>
<h1>TEST</h1>
    <script src="sketch.js"></script>
</body>

</html>